---
layout: default
cover: 'assets/images/cover2.jpg'
class: 'tag-template'
navigation: True
---

<!-- < dynamically overriding backgrounds for tags as well as descriptions -->
{% if page.url contains 'misc' %}
   {% assign tag_description='Random thoughts.' %}
{% elsif page.url contains 'speeches' %}
    {% assign new_cover='assets/images/cover7.jpg' %}
    {% assign tag_description='Some of the greatest words ever spoken.' %}
{% elsif page.url contains 'fiction' %}
    {% assign new_cover='assets/images/cover1.jpg' %}
{% endif %}

<header class="main-header tag-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{% if new_cover %}{{ new_cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ site.logo }}" alt="Blog Logo" /></a>
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.tag | capitalize }}</h1>
            <h2 class="page-description">
            {% if tag_description %}
                {{ tag_description }}
            {% elsif page.tag %}
			    Posts tagged with '{{ page.current | replace: 'tag-', '' }}'
            {% endif %}
            </h2>
        </div>
    </div>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    
    {{ content }}
    
</main>